version: '3'

services:
  # Mysql Database
  db:
    image: mysql:5.7
    volumes:
      - db_data:/var/lib/mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: default
      MYSQL_USER: dbuser
      MYSQL_PASSWORD: dbpass
    networks:
      - lemp-network

  #Ubuntu Nginx PHP
  nginx:
    build: ./nginx-build
    image: ubuntu-nginx:bionic
    restart: always
    volumes:
      - ./html:/var/www/html
    ports: 
      - '8000:80'
      - '8443:443'
      - '3306:3306'
    networks:
      - lemp-network

  #phpmyadmin
  phpmyadmin:
    depends_on:
      - db
    image: phpmyadmin/phpmyadmin
    restart: always
    ports:
      - '8080:80'
    environment:
      PMA_HOST: lemp
      MYSQL_ROOT_PASSWORD: root
    networks:
      - lemp-network

networks:
  lemp-network:
volumes:
  db_data: